body {
  background-color: #fff;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.container {
  width: 850px;
  height: 550px;
  margin: 50px auto;
  background-color: #539a46;
  position: relative;
  .line {
    width: 850px;
    height: 550px;
    border: 3px solid #ffffff;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    :before {
      border: 5px solid #539a46;
      bottom: -6px;
      content: '';
      left: -9px;
      position: absolute;
      right: -6px;
      top: -9px;
    }
  }
  .half {
    width: 425px;
    height: 550px;
    position: absolute;
    top: 0px;
    border-right-color: #fff;
    border-right-style: solid;
    border-right-width: 4px;
    left: 0px;
    z-index: 200;
  }
  .panelty {
    width: 110px;
    height: 220px;
    border: 3px solid #ffffff;
    position: absolute;
    z-index: 220;
    background-color: #539a46;
    &.left {
      left: 3px;
      top: 150px;
      border-left-color: transparent;
      border-left-width: 0px;

      &::after {
        border: 3px solid #ffffff;
        border-left-color: transparent;
        border-left-width: 0px;
        bottom: 45px;
        content: '';
        left: 0px;
        position: absolute;
        right: 55px;
        top: 45px;
      }
    }
    &.right {
      right: 0px;
      top: 150px;
      border-right-color: transparent;
      border-right-width: 0px;
      &::after {
        border: 3px solid #ffffff;
        border-right-color: transparent;
        border-right-width: 0px;
        bottom: 45px;
        content: '';
        left: 55px;
        position: absolute;
        right: 0px;
        top: 45px;
      }
    }
  }
  .p-spot {
    &.left {
      &:after {
        content: '\2022';
        position: absolute;
        color: #fff;
        font-size: 35px;
        top: 238px;
        left: 80px;
        z-index: 300;
      }
    }
    &.right {
      &:after {
        content: '\2022';
        position: absolute;
        color: #fff;
        font-size: 35px;
        top: 238px;
        right: 80px;
        z-index: 300;
      }
    }
  }
  .center {
    position: absolute;
    width: 130px;
    height: 130px;
    border: 3px solid #ffffff;
    left: 359px;
    top: 193px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    &::after {
      background-color: #fff;
      border: 5px solid #fff;
      bottom: 55px;
      content: '';
      left: 55px;
      position: absolute;
      right: 55px;
      top: 55px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
  .p-place {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 130px;
    position: absolute;
    width: 150px;
    z-index: 210;
    border: 3px solid transparent;
    &.left {
      border-bottom-color: #fff;
      border-right-color: #fff;
      border-top-color: #fff;
      left: 0;
      top: 193px;
    }
    &.right {
      border-bottom-color: #fff;
      border-left-color: #fff;
      border-top-color: #fff;
      right: 0px;
      top: 193px;
    }
  }
}
